@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #caf0f8;
    text-align: center;
}

/* TÍTULO */
.titulo{
    background-color: #2c7da0;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 50px;
    color: #e9ecef;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}
.titulo h1{
    font-size: 60px;
}
.titulo p{
    font-size: 22px;
    margin-top: 15px;
}

/* ADD TAREFA */
.add{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.add-new{
    background-color: #61a5c2;
    width: 420px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#add-tarefa{
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
    background-color: #e9ecef;
    color:#2c7da0;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
}
#add-tarefa::placeholder{
    color:#2c7da0;
    font-size: 18px;
}
#btn-add{
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color:#2c7da0;
    font-size: 18px;
    background-color: #e9ecef;
    font-family: 'Libre Baskerville', serif;
}
#btn-add:hover{
    cursor: pointer;
    background-color: #2c7da0;
    color:#e9ecef;
}

/* LISTA DE TAREFAS */
.container{
    display: flex;
    justify-content: center;
}
.list{
    margin-top: 10px;
    background-color: #2c7da0;
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
}
ul li{
    list-style: none;
    background-color: #61a5c2;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#e9ecef;
    font-size: 21px;
    padding: 0 20px;
    font-family: 'Libre Baskerville', serif;
}
ul li:hover{
    cursor: pointer;
}
.btnAcao{
    font-size: 25px;
    background-color: #e9ecef;
    color: #2c7da0;
    border: none;
    padding: 4px;
    border-radius: 5px;
}
.btnAcao:hover{
    cursor: pointer;
    background-color: #2c7da0;
    color:#e9ecef;
}
.done{
    background-color: #43aa8b;
    text-decoration: line-through;
    color:#e9ecef; 
}